.Past-Hours {
  width: 95%;
  padding-right: 0%;
  height: 70vh;
  overflow-y: scroll;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Darkened background color */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  min-width: 20vw;
  max-width: 90vw;
}

.popup-content button {
  /* Add your styles for the popup content */
  background-color:rgba(106, 76, 227, 1);
  color:white;
  padding:1vh;  
  border-radius: 7px;
}

.denied-class {background-color: lightcoral;}

.pending-class {background-color: rgba(106, 76, 227, 1);}
.pending-txt {color:rgba(106, 76, 227, 1);}

.approved-class {background-color: lime;}

