.Logo-txt {
  font-size: 5vh;
}
.Logo-sd {
  font-size: 1.5vh;
}
.Nav-txt {
  font-size: 2vh;
}
.btn-txt {
  font-size: 2vh;
}
.NAV-Logo {
  width: 8vw;
  height: auto;
}
.NAV-socials {
  min-width: 1.5vw;
  margin-left: 1vw;
  margin-top: 1vh;
  height: auto;
  filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(342deg)
    brightness(115%) contrast(101%);
}
.nsocials {
  min-width: 1.5vw;
  margin-left: 1vw;
  margin-top: 1vh;
  height: auto;
}
.Selector {
  max-width: 10vw;
}
