.container {
  max-height: 100vh;
  max-width: 100vw;
}

.homeLogo {
  animation-name: slidein;
  animation-duration: 7s;

  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  padding-bottom: 1vh;
  padding-top: 3vh;
}

.homeText {
  animation-delay: 50ms;
  animation-name: slidein_text;
  animation-duration: 7s;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10vh;

  text-align: center;
  align-content: center;
  align-items: center;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 8.5vh;
  font-weight: 3em;
}

.buttons {
  animation-delay: 75ms;
  animation-name: slidein_button;
  animation-duration: 7s;

  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 12px;

  padding: 1.5vh;
}

.redirectButton {
  background-color: orange;
  padding: 1vh;
  border-radius: 1vw;
  font-size: 2.25vh;
  font-weight: 600;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    transform: scale(1.5);
    padding-top: 7vh;
    width: 300%;
  }

  75% {
    margin-bottom: 0%;
    transform: scale(1.1);
    padding-top: 7vh;
    width: 100%;
  }

  to {
    margin-bottom: 0%;
    transform: scale(1);
    width: scale(0.75);
    padding-top: 3vh;
  }
}

@keyframes slidein_text {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

@keyframes slidein_button {
  from {
    margin-top: 100%;
    padding-top: 100%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    padding-top: 1.5vh;
    height: 100%;
  }
}

.popup-btn {
  background-color: rgb(253, 190, 71);
  padding: 1vh;
  border-radius: 1vw;
  font-size: 2.25vh;
  font-weight: 600;
  margin-left: 1vw;
}
.h-logo {
  margin-bottom: 1.5vh;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* A high z-index to ensure it appears on top of other content */
}

.popup-content {
  font-weight: 600;
  background: white;
  font-size: 1.5vw;
  padding: 2vw;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border-radius: 8px;
  z-index: 1100; /* Higher z-index to appear on top of the overlay */
}

.close-button {
  position: absolute;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 25px;
  background-color: red;
  font-size: 2vw;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
