:root {
  font-family: system-ui, Poppins, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FDAE60 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: var(--bs-body-bg);
  color: var(--bs-dark-text-emphasis);
  min-height:100vh;
  max-height:100vh;
  padding-bottom:40px;
  overflow-y: hidden;
}

body {
  min-width: 95vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
